footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 60, 187);
  color: #f0f8ff;
  bottom: 0px;
  padding: 80px;
  margin-top: 210vh;
}