<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<mat-toolbar color="" class="toolbar">
    <div class="Menu">
        <div class="Menu_Main">
            <img src="../assets/img/LogoPromopesca.png" alt="" srcset="">
            <p class="Menu_Main_Subtitle">Promo<span>Pesca S.A</span></p>     
        </div>
        <nav class="Menu_Nav">
            <a mat-button>Inventario</a>
            <a mat-button>Consultas</a>
            <a mat-button>Reportes</a>
            <a mat-raised-button color="primary">Iniciar Sesión</a>
        </nav>
    </div>
</mat-toolbar>